<%- include ../layouts/header.ejs %>

            <h1>Compare two different tables</h1>            

            <h2>Server DataBase Table</h2>
            <div class="dbPanel">            
            <table class="table">
                <thead>
                    <tr>
                        <th></th> 
                        <% for (var i = 0; i < column_data.length; i ++) { %>
                              <th><%= column_data[i].COLUMN_NAME %></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                        <% for (var i = 0; i < tenant_data.length; i ++) { 
                            %> <tr> <th scope="row"><%= tenant_data[i].id %> </th> <%                                    
                                for (var j in tenant_data[i]) { 
                                    if(tenant_data[i].hasOwnProperty(j)) {
                                        var propValue = tenant_data[i][j];
                                            if(j == 'deleted_at' || j == 'created_at' || j == 'updated_at' || j == 'bet_at' || j == 'settled_at') propValue = JSON.stringify(propValue)
                                    %><td><%= propValue %></td>                                        
                                <% }} %> </tr> <%
                        } %>                        
                </tbody>
            </table>
            </div>

            <h2>Clone DataBase Table</h2> 
            <div class="dbPanel">             
            <table class="table">
                <thead>
                    <tr>
                        <th></th> 
                        <% for (var i = 0; i < column_data.length; i ++) { %>
                              <th><%= column_data[i].COLUMN_NAME %></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                        <% for (var i = 0; i < here_data.length; i ++) { 
                            %> <tr> <th scope="row"><%= here_data[i].id %> </th> <%                                    
                                for (var j in here_data[i]) { 
                                    if(here_data[i].hasOwnProperty(j)) {
                                        var propValue = here_data[i][j];
                                            if(j == 'deleted_at' || j == 'created_at' || j == 'updated_at' || j == 'bet_at' || j == 'settled_at') propValue = JSON.stringify(propValue)
                                    %><td><%= propValue %></td>                                        
                                <% }} %> </tr> <%
                        } %>                        
                </tbody>
            </table>
            </div>
        <div>

    </body>
</html>
