<%- include ../layouts/header.ejs %>

            <h1>Compare Hy with cash_flow and member_bonus amount</h1>            

            <h2>hy.money and cash_flow</h2>
            <div class="dbPanel">            
            <table class="table">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>hy.money</th>
                        <th>sum of amount in cash_flow</th>
                    </tr>
                </thead>
                <tbody>
                        <% for (var i = 0; i < hy.length; i ++) { 
                            for(var key in sum_amnt_cash[i][0]){
                                if(sum_amnt_cash[i][0][key])                     
                                    sum_amnt = sum_amnt_cash[i][0][key]
                                else sum_amnt = 0
                            }
                            if(hy[i].money != sum_amnt) {
                        %> 
                            <tr>
                                <td> <%= hy[i].uid %> </td>
                                <td> <%= hy[i].money %></td>
                                <td> <%= sum_amnt %></td>                                
                            </tr>
                        <% }} %>                        
                </tbody>
            </table>
            </div>

            <h2>hy.return_money and member_bonus</h2> 
            <div class="dbPanel">             
            <table class="table">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>hy.return_money</th>
                        <th>sum of amount in cash_flow</th>
                    </tr>
                </thead>
                <tbody>
                        <% for (var i = 0; i < hy.length; i ++) { 
                            for(var key in sum_amnt_bonus[i][0]){
                                if(sum_amnt_bonus[i][0][key])                     
                                    sum_amnt = sum_amnt_bonus[i][0][key]
                                else sum_amnt = 0
                            }
                            if(hy[i].return_money != sum_amnt) {
                        %> 
                            <tr>
                                <td> <%= hy[i].uid %> </td>
                                <td> <%= hy[i].return_money %></td>
                                <td> <%= sum_amnt %></td>                                
                            </tr>
                        <% }} %>                        
                </tbody>
            </table>
            </div>
        <div>

    </body>
</html>
